
.logo{
    position: absolute;
    left: 1rem;
}
.input_container{
    // border: 1px solid red;
    background-color: white;
    width: 50%;
    border-radius: 1000px;
    color:black;
    display: flex;
    align-items: center;
    padding-left: 0.7rem;


    .searchInput{
        align-self: center;
        border:none;
       
        height: 2rem;
        width: 90%;
        background-color: transparent;    
        padding: 0rem 1rem;
    
        &:focus{
            // outline: 1px solid rgb(20, 23, 195);
            outline:none;
    
        }
    
    }
}