.trackCard{
    width: 270px;
    height: 400px;
  

    .comment_section{
        padding-top: 0;
        padding-bottom: 0;

        .comment_icon_container{
            border-radius: 50%;
            padding: 0.5rem;

            .comment_icon{
                color:black;
            }
        }
    }

    .comment_container{

        .comment{
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            padding-left: 0rem;

            width: 100%;
            display: flex;
            justify-content: flex-start;
        }



    }

}
