

.icons_container{
    display: flex;
    gap:0.5rem;
    position: absolute;
    right: 0;    
}

.comment_text{
    .MuiListItemText-primary{

        white-space: nowrap;
        max-width: 80%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}



.modal_comment_text {
    .MuiListItemText-primary {
        word-wrap: break-word;
        max-width: 100%;

    }
}



    
