

.avatar_container{
    // border:1px solid red;
}


.icons_container{
    // border:1px solid red;
    display: flex;
    gap:0.5rem;
    position: absolute;
    right: 0;    
}

.comment_text{
    .MuiListItemText-primary{

        white-space: nowrap;
        max-width: 80%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}



    
