html{
  background-color: black;
  color:white;
}

body{
  margin: 0;
  ::-webkit-scrollbar {
      display: none;
    }
}

.home_page{

  height:95vh;
  display: flex;
  flex-direction: column;

  .content{
    max-height: 95%;
    display: flex;

    flex: 0.8;

    .track_list_container{
      flex: 1;
      
      max-width: 100%;
      max-height: 100%;
      display: flex;
      justify-content: center;
      overflow: scroll;

      .track_list{
        width: fit-content;
        max-width: 100%;

        height: fit-content;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
      }
  
    }

  }

  .search_bar{
    width:100%;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(64, 64, 64);
    padding:1rem;
    padding-left: 0;
    padding-right: 0;

  }

}

@media only screen and (max-width: 600px) {
  .home_page{

    .content{

      .track_list_container{
        padding-left: 0rem;
        flex: 1;
        align-items: center;
        
        .track_list {
          display: flex;
          flex-direction: column;
          align-items: center;
        
          gap:1rem;
        
          max-width: 100%;
          max-height: 100%;
          overflow: scroll;
          width: 100%;
          
      
        }
      }

    }
    
  }
  
}



