.detailsCard {

    border: none;
    width: 100%;
    display: flex;

    box-shadow: none;
    max-height: 100%;
    overflow-y: scroll;

    .track,.collection{
    
        display: flex;
        justify-content: space-between;
        align-items: center;

        .price{
            font-size: 14px;
        }
    }
    

    .expand_button{
        width: 100%;
        padding-left: 0;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;

    }

    .related_track_btn{
        width: 100%;
        padding-left: 0;
    }

}


